*{
	padding: 0;
	margin: 0;
	font-family: 'Catamaran', sans-serif;
}


.backImg{

	width: 100%;
	height:100vh;
	background-image: url('1.jpg');
	background-size: cover;
	display: flex;
	align-items: center;
	color: white;
	text-align: center;
	justify-content: center;
}

.profile{

	width: 360px;
	background-color: rgba(0,0,0,0.4);
	padding-top:20px;
	padding-bottom:20px;
	padding-left: 0;
	padding-right: 0;
	border-radius: 10%;

}


.profileText{

	margin-bottom: 10px;

}

.profileText h2{

	font-size: 2em;
	font-width:500;
	margin-bottom: 7px;
}

.profileText h3{

	font-size: 1.4em;
	font-width:500;
	margin-bottom: 10px;
}




img{

	height: 300px;
	border-radius: 70%;
	margin-bottom: 20px;

}

i{
 color: white;
 letter-spacing: 10px
}